@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,100;1,300;1,700&display=swap');

:root {
  --primary-color: rgb(23, 162, 184);
  --primary-color-hover: rgb(21, 144, 163);
  --dark-color: rgb(52, 58, 64);
  --light-color: rgb(244, 244, 244);
  --light-color-hover: rgb(204, 204, 204);
  --danger-color: rgb(220, 53, 69);
  --success-color: rgb(40, 167, 69);
  --white-color: #fff;
  --black-color: #000;
  --hover-time: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  color: var(--white-color);
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
