:root {
  --primary-color: rgb(23, 162, 184);
  --primary-color-hover: rgb(21, 144, 163);
  --dark-color: rgb(52, 58, 64);
  --light-color: rgb(244, 244, 244);
  --light-color-hover: rgb(204, 204, 204);
  --danger-color: rgb(220, 53, 69);
  --success-color: rgb(40, 167, 69);
  --hover-time: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
